---
import Layout from '../layouts/xol.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Xol's Links">
    <main>
        <h1 class="text-5xl font-bold font-sans text-center text-slate-300">Xol</h1>
        <div class=" flex m-4 p-1 rounded-full w-48 max-w-sm 
        bg-gradient-to-r from-purple-200 via-purple-500 to-purple-900
        animate-gradient-x justify-center items-center mx-auto">
            <img class="rounded-full object-contain w-96 mx-auto" alt="Disappointed Rebecca from Cyberpunk Edgerunners gif" id="zrekae-profile" src="/profiles/xol/xprofilenew.gif" >

        </div>
        <br />
                <ul class="link-card-grid">
        <Card 
            href="https://twitch.tv/xolgrunek?ref=xol.ink"
            title="Twitch"
            body=""
        />
        <Card
        href="https://twitter.com/xolgrunek"
        title="Twitter"
        body=""
        />
        <Card
        href="https://xol.app/xdiscord"
        title="Discord"
        body=""
        />
        <Card
            href="https://vgen.co/Xolgrunek?ref=xol.ink"
            title="VGen"
            body=""
            />
        <Card
        href="https://github.com/Xolgrunek"
        title="Github"
        body=""
        />
        <Card
        href='https://www.youtube.com/@Xolgrunek'
        title='YouTube'
        body=''
        />
        <Card
        href="https://ko-fi.com/Xolgrunek?ref=xol.ink"
        title='Ko-FI'
        body=''
        />
    </ul>
    
    </main>
</Layout>
<style>
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}
#zrekae-profile {
    --webkit-mask-image: url(/favicon.ico)
}
</style>
