---
import Layout from '../layouts/zrekae.astro';
import Card from '../components/Card.astro';
import ZrekaeCard from '../components/ZrekaeCard.astro';
import { Picture } from 'astro:assets';
import flower_color from '../flower_color.png'
---
<Layout title="Zrekae's Links">
    <main>
        <h1 class="text-5xl font-bold font-sans text-center text-gradient">Zrekae</h1>
        <div class="flex m-4 p-1 rounded-full w-48 max-w-sm 
        justify-center items-center mx-auto">
            <Picture class="object-contain w-96 mx-auto" formats={['avif', 'webp']} loading={'eager'} id="zrekae-profile" alt="zrekae selfie" src={flower_color}>

        </div>
        
         <div class="videoWrapper">
        <iframe title="Latest YouTube Video"
        src="https://www.youtube.com/embed?listType=playlist&list=UUNCkv4qa3Hp0-sSjLTauddQ">
        </iframe>
    </div>
    
    <br />
        
                <ul class="link-card-grid">
        <ZrekaeCard 
            href="https://twitch.tv/zrekae"
            title="Twitch"
            icon="mdi:twitch"
            body=""
        />
        <ZrekaeCard 
        href="https://tiktok.com/@zrekae"
        icon="ic:baseline-tiktok"
        title="TikTok"
        body=""
        />
        <ZrekaeCard
        href="https://bsky.app/profile/zrekae.tv"
        title="Bluesky"
        icon="ri:bluesky-line"
        body=""
        />
        
        <ZrekaeCard
        href="https://xol.app/zdiscord"
        title="Discord"
        icon="mdi:discord"
        body=""
        />
        <ZrekaeCard
        href="https://vgen.co/zrekae"
        title="VGen"
        icon="vgen"
        body=""
        />
        <ZrekaeCard
        href="https://www.deviantart.com/zrekae"
        title='DeviantArt'
        icon="mdi:deviantart"
        body=''
        />
        <ZrekaeCard
        href='https://www.youtube.com/@Zrekae'
        title='YouTube'
        icon='mdi:youtube'
        body=''
        />
        <ZrekaeCard
        href="https://ko-fi.com/zrekae?ref=xol.ink"
        title='Ko-FI'
        icon='simple-icons:kofi'
        body=''
        />
    </ul>

</main>


</Layout>
<style>
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;

	}
</style>
