---
import Layout from '../layouts/zrekae.astro';
import Card from '../components/Card.astro';
import RedoneCard from '../components/RedoneCard.astro';
---
<Layout title="Zrekae's Links">
    <main>
        <h1 class="text-5xl font-bold font-sans text-center text-slate-300">Zrekae</h1>
        <div class=" flex m-4 p-1 rounded-full w-48 max-w-sm 
        bg-gradient-to-r from-blue-500 via-red-500 to-green-500
        animate-gradient-x justify-center items-center mx-auto">
            <img class="rounded-full object-contain w-96 mx-auto" id="zrekae-profile" src="/profiles/zrekae/zrekae_new_profile.jpg" >

        </div>
        <br />
                <ul class="link-card-grid">
        <RedoneCard 
            href="https://twitch.tv/zrekae"
            title="Twitch"
            icon="mdi:twitch"
            body=""
        />
        <RedoneCard 
        href="https://tiktok.com/@zrekae"
        icon="ic:baseline-tiktok"
        title="TikTok"
        body=""
        />
        <RedoneCard
        href="https://twitter.com/zrekae"
        title="Twitter"
        icon="mdi:twitter"
        body=""
        />
        <RedoneCard
        href="https://xol.app/zdiscord"
        title="Discord"
        icon="mdi:discord"
        body=""
        />
 <!--        <Card
            href="https://mas.to/@zrekae"
            title="Mastodon"
            body=""
            />
            -->
        <RedoneCard
        href="https://ko-fi.com/zrekae"
        title="Ko-FI"
        icon="simple-icons:kofi"
        body=""
        />
        <RedoneCard
        href="https://www.deviantart.com/zrekae"
        title='DeviantArt'
        icon="mdi:deviantart"
        body=''
        />
        <RedoneCard
        href='https://www.youtube.com/@Zrekae'
        title='YouTube'
        icon='mdi:youtube'
        body=''
        />
        <RedoneCard
        href="https://patreon.com/Zrekae"
        title='Patreon'
        icon='mdi:patreon'
        body=''
        />
    </ul>
    </main>
</Layout>
<style>
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

</style>
