---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Guidelines Page">
    <main>
        <h1 class="text-center dark:text-white font-bold text-3xl">    GUIDELINES FOR XOL.INK SUBMISSION        </h1>
            <ol class="text-white list-decimal text-lg">
                <li class="indent-8">
                    1. All submissions will cost a flat $15 fee.
                </li>
                <li class="indent-8">
                    2. All submissions have to contain the following:
                    <ol class="list-decimal">
                        <li class="indent-12">
                            1. A profile image (NO NSFW)
                        </li>
                        <li class="indent-12">
                            2. A preferred background image or suggestion (NO NSFW)
                        </li>
                        <li class="indent-12">
                            3. All applicable links (NO NSFW)
                        </li>
                    </ol>
                </li>
                <li class="indent-8">
                   3. Submissions may take up to 3-5 days depending on complexity and how many submisions I currently have. Zrekae will update you if any issues arise, and also to give you a final proof. 
                </li>
                <li class="indent-8">
                    4. Profile changes
                    <ol>
                        <li class="indent-12">
                            1. Profile pictures may be changed once per quarter (3 month period)
                        </li>
                        <li class='indent-12'>
                            2. Exeptions to the rule:
                            <ol>
                                <li class='indent-16'>
                                    1. Holidays (New Years, Easter, Halloween, Thanksgiving/Christmas)
                                </li>
                                <li class='indent-16'>
                                    2. If it is determined to break any guideline said previously
                                </li>
                            </ol>
                        </li>
                        <li class='indent-12'>
                            3. Background images follow same rules as profile pictures
                        </li>
                    </ol>
                </li>
                <li class='indent-8'>
                    5. Special Requests
                    <ol>
                        <li class='indent-12'>
                            1. Special requests may require a separate fee depending on complexity of request
                        </li>
                    </ol>
                </li>
                <li class='indent-8'>
                    6. Changes to these Guidelines
                    <ol>
                        <li class='indent-12'>
                            1. Changes can and will be made to this list at any time and can always be viewable at <a  class='text-red-500' href='https://xol.ink/guidelines'>This Link</a>
                        </li>
                    </ol>
                </li>
            </ol>
            <footer class='text-white text-center'>
                Last updated on October 22, 2023 by Xol
            </footer>
    </main>
</Layout>
<style>
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
</style>
