---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Zrekae's Links">
    <main>
        <h1>Zrekae</h1>
        <ul class="link-card-grid">
        <Card 
            href="https://twitch.tv/zrekae"
            title="Twitch"
            body=""
        />
        <Card
        href="https://kick.com/zrekae"
        title="Kick"
        body=""
        />
        <Card
        href="https://kick.com/zrekae"
        title="Patreon"
        body=""
        />
        <Card
        href="https://kick.com/zrekae"
        title="Discord"
        body=""
        />
        <Card
        href="https://kick.com/zrekae"
        title="Twitter"
        body=""
        />
    </ul>
    </main>
</Layout>
<style>
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
    h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}
</style>