---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-black">
		<slot />
	</body>
</html>
<style is:global>
    body {
    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url('https://imagedelivery.net/WJTVhdimEdkLOI51IFnVgA/fc57f9d1-12f3-490a-6e70-a5f20e739a00/2160p') no-repeat center center fixed;
    background-size:cover;
}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(90, 2, 90) 30%, white 60%);
	}
</style>
