---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Zrekae's Link Page">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-black">
		<slot />
	</body>
</html>
<style is:global>
	body {
    background:
    linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75)
    ),
    url('/profiles/zrekae/zbackground2.webp') no-repeat center center fixed;
    
    background-size:cover;
    
} 
@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: 
	  linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75)
    ),
	url("/profiles/zrekae/zbackground2-mobile.webp") no-repeat;
      background-size: cover;
    }
}
	:root {
		--accent: 157, 210, 216;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(6, 209, 209) 30%, rgb(134, 230, 243) 60%);
		--test-accent: 228, 22, 8;
		--test-accent-gradient: linear-gradient(45deg, rgb(var(--test-accent)), #ec3636 30%, white 60%);
	}

</style>
